 body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 0;
            padding: 0;
            background-color:rgb(83, 122, 134)
        }
        #main {
            padding: 20px;
        }
        #title {
            font-family:  'Metal Mania';
            font-weight: bold;
            margin-bottom: 10px;
            transform: scaleX(1.0);                 
            animation: agrandar 1.5s ease-in-out forwards; 
        }
        @keyframes agrandar {
                0% {
                  font-size: 16px; /* Tamaño inicial */
                }
                100% {
                  font-size: 50px; /* Tamaño más grande al final de la animación */
                }
              }
            
        
              
        #img-div {
            margin-top: 20px;
        }
        #image {
            max-width: 100%;
            height: auto;
            display: block;
            margin: 0 auto;
        }
        #img-caption {
            margin-top: 10px;
            font-size:12px
        }

        #tribute-info {
            margin-top: 20px;
        }
        #info{
            font-size:12px
        }

        #tribute-link {
            display: inline-block;
            margin-top: 10px;
            text-decoration: none;
            color: blue;
        }
        #logo-btn{
            width: 5em;
            height: 5em; 
            transform: rotate(0deg);
            transform-origin:center;
            animation: rotarLogo 1.5s ease-in-out forwards;
        }
        @keyframes rotarLogo {
            0% {
              transform: rotate(0deg);
            }
            100% {
              transform: rotate(360deg);
            }
        }
